.widget-box {
    background: none repeat scroll 0 0 #F9F9F9;
    border-left: 1px solid #CDCDCD;
    border-top: 1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
    clear: both;
    margin-top: 16px;
    margin-bottom: 16px;
    position: relative;
}
.widget-title {
    background: #efefef;
    border-bottom: 1px solid #CDCDCD;
    height: 36px;}
.breadcrumb-item {
    font-size: 11px;
    color: #666666;
}
.control-group {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #eeeeee;
    padding: 8px 7px;
}

.controls {
    display: contents;
}

.control-label {
    text-align: right;
    color: #333333;
}
img#blah {
    width: 126px;
}
img.tbl_icn {
    max-width: 100px;
}
.show_img_in_input_w {
    text-align: center;
    margin-top: 5px;
}
.page-breadcrumb {
    background: #fff;
    padding: 7px 20px 0 20px;
    border-bottom: 1px solid #e3ebed;
    box-shadow: 1px 1px 6px 1px #ddd;
}
.disable {
    color: #fff;
    background: #ffc800;
    padding: 1px 12px;
    font-weight: 300;
}

.enable {
    color: #fff;
    background: #35bb2c;
    padding: 1px 12px;
    font-weight: 300;
}
.table td, .table th {
    padding: 6px;
}

tr:hover
 {
    background: #27a9e314 !Important;
}
.plussrc {
    display: inline-block;
    margin: 14px 0px;
}
.srcbtnin {
    width: fit-content;
    display: inline-block;
}

.srcin {
    width: 80%;
}
.editBtn {
    color: #fff;
    background: #04c;
    padding: 0px 8px;
    font-size: 12px;
}

.deleteBtn {
    color: #fff;
    background: #e0534f;
    padding: 0px 8px;
    font-size: 12px;
}
.edbtn:hover {
    background: #ffc800;
    color: #fff;
}
ul.collapse.first-level.in {
    background: #97a2b769 !important;
}

span.hide-menu {
    font-size: 12px;
}

.sidebar-nav ul .sidebar-item .sidebar-link i {
    opacity: 1;
    font-size: 21px;
}
.sort_btn {
    border: none;
    background: transparent;
    cursor: pointer;
}
.sort_form {
    display: inline-block;
}
.fromtoA {
    display: inline;
}
.btn_shape {
    padding: 0px 8px;
    font-size: 12px;
}
.job_time_a {
    text-transform: uppercase;
    border: 1px solid #dbe2ff;
    border-radius: 4px;
    background-color: #e1e7ff;
    display: block;
    font-size: 14px;
    padding: 2px 10px;
    color: #2e55fa !important;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
img.cl_d_img {
    width: 200px;
    max-height: 410px;
}
.gig_time_a {
    color: #fff !important;
    background: #819cd8;
    padding: 3px 4px;
    margin: 4px;
    border-radius: 4px;
}
.job_time_a {
    color: #fff !important;
    background: #819cd8;
    padding: 3px 4px;
    margin: 4px;
    border-radius: 4px;
}

.status {
    padding: 3px 7px;
    color: #fff;
    font-weight: bold;
    border-radius: 2px;
}
.pending{
    background: orange;
}
.approve{
    background: green;
}
.reject{
    background: red;
}
.slider_image {
    width: 400px;
}
.show_img_in_input {
    width: 90%;
}
.pg_i_w {
    display: inline-block;
}
.m-t30{
    margin-top: 30px;
}
span.green {
    background: #69c169;
    padding: 2px 12px;
    font-weight: bold;
    color: #fff;
}

span.red {
    background: red;
    padding: 2px 12px;
    font-weight: bold;
    color: #fff;
}

.card {
    border-top: 3px solid #17a2b8;
    border-radius: 5px;
}
.cs_cat {padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    color: #fff;
    background-color: #117a8b;
    border-color: #10707f;
}
img.f_img {
    max-width: 400px;
}
.side_star {
    background: #ffd700f2;
}

.side_star a {
    color: #000 !important;
    font-weight: bold;
    text-shadow: 0px 0px 5px #000;
}